[Unit]
Description=Starman
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/starman --workers 3 --port 80 /app/app.psgi
Restart=always
WorkingDirectory=/app
Nice=19
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
